# This file is part of Astarte.
#
# Copyright 2023 SECO Mind Srl
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: Check code generation

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit:
    name: Check generated code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v5
      - name: Check the Rust generated code
        run: |
          git --no-pager diff --no-index -- ./rust-dist/astarteplatform.msghub.rs ./rust/astarte-message-hub-proto/src/astarteplatform.msghub.rs
      - name: Check the Python generated code
        run: |
          git --no-pager diff --no-index -- ./python-dist ./python/astarteplatform
